.rating
    &-title
        font-family: "Tele2DisplaySerifBoldShortWeb"
        font-size: 38px
    &-select  
        font-family: 'Tele2TextSansRegularShortWEB'
        border: none
        &:focus
            outline: none
    &-table-container
        max-width: 828px
        margin-top: 36px
        &-search
            width: 100%
            position: relative
            font-family: 'Tele2TextSansRegularShortWEB'
            font-size: 16px
            border: none
            border-bottom: 2px solid #8F9399
            padding: 20.4px 0 10px 0
            -moz-appearance: none
            -webkit-appearance: none
            appearance: none
            background: url('../images/opener.png') no-repeat right 15px bottom 12px
            &:focus
                outline: none
        &-search::after
            position: absolute
            right: 0
            width: 10px
            height: 10px

input[type=search]
    width: 100%
    padding: 7px 0 10px 40px
    background: url('../images/search.png') no-repeat scroll 0 50%
    border: none
    border-bottom: 2px solid #8F9399
form
    color: #8F9399
    font-family: 'Tele2TextSansRegularShortWEB'
    font-size: 16px
    line-height: 20px
    margin-top: 36px
    max-width: 500px
input:focus
    outline: none
