<div class="container">
    <div class="rating-title">
        Рейтинг точек
    </div>
        <form action="/search/" target="_blank">
            <input type="search" name="text" required placeholder="Поиск по названию" >
        </form>

    <div class="rating-search-wrapper">
        <select class="rating-table-container-search">
            <option value="" hidden disabled selected>Название мотивационной программы с рейтингом</option>
            <option>Название 1</option>
            <option>Название 2</option>
            <option>Название 3</option>
            <option>Название 4</option>
            <option>Название 5</option>
        </select>
    </div>

    <div class="rating-table">
        
        <div class="rating-table-container">
            <!-- 
                <div class="table-head row">
                <div class="table-head col-1">
                 
                </div>
                <div class="table-head col-1">
                    № точки
                </div>
                <div class="table-head col-3">
                    Дилер
                </div>
                <div class="table-head col-3">
                    Регион
                </div>
                <div class="table-head col-2">
                    Баллы
                </div>
                <div class="table-head col-2">
                    Мой вклад
                </div>
            </div>

            <div class="table-body row">
                <div class="table-body">
                    1
                </div>
                <div class="table-body">
                    № 56
                </div>
                <div class="table-body">
                    ИП "ДЕМОИП"
                </div>
                <div class="table-body">
                    Нижний Новгород
                </div>
                <div class="table-body">
                    960 <span> баллов</span>
                </div>
                <div class="table-body">
                    <span>Мой вклад: </span> 97%
                </div>
            </div>

            -->
            <table class="rating-table-container-table">
                    <thead>
                        <tr>
                          <th class="table-empty" scope="col"></th>
                          <th scope="col"><div>№ точки</div></th>
                          <th scope="col"><div>Дилер</div></th>
                          <th scope="col"><div>Регион</div></th>
                          <th scope="col"><div>Баллы</div></th>
                          <th scope="col"><div>Мой вклад</div></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                          <th class="table-counter" scope="row"><div>1</div></th>
                          <td><div>№ 56</div></td>
                          <td><div>ИП "ДЕМОИП"</div></td>
                          <td><div>Нижний Новгород</div></td>
                          <td><div>960 <span> баллов</span></div></td>
                          <td><div><span>Мой вклад: </span> 97%</div></td>
                        </tr>
                        <tr>
                            <th class="table-counter" scope="row"><div>1</div></th>
                            <td><div>№ 56</div></td>
                            <td><div>ИП "ДЕМОИП"</div></td>
                            <td><div>Нижний Новгород</div></td>
                            <td><div>960 <span> баллов</span></div></td>
                            <td><div><span>Мой вклад: </span> 97%</div></td>
                          </tr>
                          <tr>
                            <th class="table-counter" scope="row"><div>1</div></th>
                            <td><div>№ 56</div></td>
                            <td><div>ИП "ДЕМОИП"</div></td>
                            <td><div>Нижний Новгород</div></td>
                            <td><div>960 <span> баллов</span></div></td>
                            <td><div><span>Мой вклад: </span> 97%</div></td>
                          </tr>
                          <tr>
                            <th class="table-counter" scope="row"><div>1</div></th>
                            <td><div>№ 56</div></td>
                            <td><div>ИП "ДЕМОИП"</div></td>
                            <td><div>Нижний Новгород</div></td>
                            <td><div>960 <span> баллов</span></div></td>
                            <td><div><span>Мой вклад: </span> 97%</div></td>
                          </tr>
                          <tr>
                            <th class="table-counter" scope="row"><div>1</div></th>
                            <td><div>№ 56</div></td>
                            <td><div>ИП "ДЕМОИП"</div></td>
                            <td><div>Нижний Новгород</div></td>
                            <td><div>960 <span> баллов</span></div></td>
                            <td><div><span>Мой вклад: </span> 97%</div></td>
                          </tr>
                          <tr>
                            <th class="table-counter" scope="row"><div>1</div></th>
                            <td><div>№ 56</div></td>
                            <td><div>ИП "ДЕМОИП"</div></td>
                            <td><div>Нижний Новгород</div></td>
                            <td><div>960 <span> баллов</span></div></td>
                            <td><div><span>Мой вклад: </span> 97%</div></td>
                          </tr>
                          <tr>
                            <th class="table-counter" scope="row"><div>1</div></th>
                            <td><div>№ 56</div></td>
                            <td><div>ИП "ДЕМОИП"</div></td>
                            <td><div>Нижний Новгород</div></td>
                            <td><div>960 <span> баллов</span></div></td>
                            <td><div><span>Мой вклад: </span> 97%</div></td>
                          </tr>
                          <tr>
                            <th class="table-counter" scope="row"><div>1</div></th>
                            <td><div>№ 56</div></td>
                            <td><div>ИП "ДЕМОИП"</div></td>
                            <td><div>Нижний Новгород</div></td>
                            <td><div>960 <span> баллов</span></div></td>
                            <td><div><span>Мой вклад: </span> 97%</div></td>
                          </tr>
                          <tr>
                            <th class="table-counter" scope="row"><div>1</div></th>
                            <td><div>№ 56</div></td>
                            <td><div>ИП "ДЕМОИП"</div></td>
                            <td><div>Нижний Новгород</div></td>
                            <td><div>960 <span> баллов</span></div></td>
                            <td><div><span>Мой вклад: </span> 97%</div></td>
                          </tr>
                          <tr>
                            <th class="table-counter" scope="row"><div>1</div></th>
                            <td><div>№ 56</div></td>
                            <td><div>ИП "ДЕМОИП"</div></td>
                            <td><div>Нижний Новгород</div></td>
                            <td><div>960 <span> баллов</span></div></td>
                            <td><div><span>Мой вклад: </span> 97%</div></td>
                          </tr>
                          <tr>
                            <th class="table-counter" scope="row"><div>1</div></th>
                            <td><div>№ 56</div></td>
                            <td><div>ИП "ДЕМОИП"</div></td>
                            <td><div>Нижний Новгород</div></td>
                            <td><div>960 <span> баллов</span></div></td>
                            <td><div><span>Мой вклад: </span> 97%</div></td>
                          </tr>
                          <tr>
                            <th class="table-counter" scope="row"><div>1</div></th>
                            <td><div>№ 56</div></td>
                            <td><div>ИП "ДЕМОИП"</div></td>
                            <td><div>Нижний Новгород</div></td>
                            <td><div>960 <span> баллов</span></div></td>
                            <td><div><span>Мой вклад: </span> 97%</div></td>
                          </tr>
                          <tr>
                            <th class="table-counter" scope="row"><div>1</div></th>
                            <td><div>№ 56</div></td>
                            <td><div>ИП "ДЕМОИП"</div></td>
                            <td><div>Нижний Новгород</div></td>
                            <td><div>960 <span> баллов</span></div></td>
                            <td><div><span>Мой вклад: </span> 97%</div></td>
                          </tr>
                          <tr>
                            <th class="table-counter" scope="row"><div>1</div></th>
                            <td><div>№ 56</div></td>
                            <td><div>ИП "ДЕМОИП"</div></td>
                            <td><div>Нижний Новгород</div></td>
                            <td><div>960 <span> баллов</span></div></td>
                            <td><div><span>Мой вклад: </span> 97%</div></td>
                          </tr>
                          <tr>
                            <th class="table-counter" scope="row"><div>1</div></th>
                            <td><div>№ 56</div></td>
                            <td><div>ИП "ДЕМОИП"</div></td>
                            <td><div>Нижний Новгород</div></td>
                            <td><div>960 <span> баллов</span></div></td>
                            <td><div><span>Мой вклад: </span> 97%</div></td>
                          </tr>
                          <tr>
                            <th class="table-counter" scope="row"><div>1</div></th>
                            <td><div>№ 56</div></td>
                            <td><div>ИП "ДЕМОИП"</div></td>
                            <td><div>Нижний Новгород</div></td>
                            <td><div>960 <span> баллов</span></div></td>
                            <td><div><span>Мой вклад: </span> 97%</div></td>
                          </tr>
                          <tr>
                            <th class="table-counter" scope="row"><div>1</div></th>
                            <td><div>№ 56</div></td>
                            <td><div>ИП "ДЕМОИП"</div></td>
                            <td><div>Нижний Новгород</div></td>
                            <td><div>960 <span> баллов</span></div></td>
                            <td><div><span>Мой вклад: </span> 97%</div></td>
                          </tr>
                          <tr>
                            <th class="table-counter" scope="row"><div>1</div></th>
                            <td><div>№ 56</div></td>
                            <td><div>ИП "ДЕМОИП"</div></td>
                            <td><div>Нижний Новгород</div></td>
                            <td><div>960 <span> баллов</span></div></td>
                            <td><div><span>Мой вклад: </span> 97%</div></td>
                          </tr>
                          <tr>
                            <th class="table-counter" scope="row"><div>1</div></th>
                            <td><div>№ 56</div></td>
                            <td><div>ИП "ДЕМОИП"</div></td>
                            <td><div>Нижний Новгород</div></td>
                            <td><div>960 <span> баллов</span></div></td>
                            <td><div><span>Мой вклад: </span> 97%</div></td>
                          </tr>
                          <tr>
                            <th class="table-counter" scope="row"><div>1</div></th>
                            <td><div>№ 56</div></td>
                            <td><div>ИП "ДЕМОИП"</div></td>
                            <td><div>Нижний Новгород</div></td>
                            <td><div>960 <span> баллов</span></div></td>
                            <td><div><span>Мой вклад: </span> 97%</div></td>
                          </tr>
                          <tr>
                            <th class="table-counter" scope="row"><div>1</div></th>
                            <td><div>№ 56</div></td>
                            <td><div>ИП "ДЕМОИП"</div></td>
                            <td><div>Нижний Новгород</div></td>
                            <td><div>960 <span> баллов</span></div></td>
                            <td><div><span>Мой вклад: </span> 97%</div></td>
                          </tr>
                      </tbody>
            </table>
            <div class="rating-table-moreWrapper">
                <p class="rating-table-moreWrapper-more">
                    Показать еще
                </p>
            </div>
        </div>

        <div class="rating-table-right">
            <div class="rating-table-right-element">
                <p class="rating-table-right-element-title">№ 98, Ярославль</p>
                <div class="rating-table-right-element-place">
                    <p class="place">3</p>
                    <p class="place-title">место</p>
                </div>
                <div class="rating-table-right-element-show">Показать в списке</div>
            </div>
            <div class="rating-table-right-element">
                <p class="rating-table-right-element-title">№ 98, Ярославль</p>
                <div class="rating-table-right-element-place">
                    <p class="place">3</p>
                    <p class="place-title">место</p>
                </div>
                <div class="rating-table-right-element-show">Показать в списке</div>
            </div>
            <div class="rating-table-right-element">
                <p class="rating-table-right-element-title">№ 98, Ярославль</p>
                <div class="rating-table-right-element-place">
                    <p class="place">3</p>
                    <p class="place-title">место</p>
                </div>
                <div class="rating-table-right-element-show">Показать в списке</div>
            </div>
            <div class="rating-table-right-element">
                <p class="rating-table-right-element-title">№ 98, Ярославль</p>
                <div class="rating-table-right-element-place">
                    <p class="place">3</p>
                    <p class="place-title">место</p>
                </div>
                <div class="rating-table-right-element-show">Показать в списке</div>
            </div>
        </div>
    </div>
    @@include('templates/footer.html')
</div>