<div class="container">
    <div class="rating-title">
        Рейтинг точек
    </div>
        <form action="/search/" target="_blank">
            <input type="search" name="text" required placeholder="Поиск по названию" >
        </form>

    <div class="rating-search-wrapper">
        <select class="rating-table-container-search">
            <option value="" hidden disabled selected>Название мотивационной программы с рейтингом</option>
            <option>Название 1</option>
            <option>Название 2</option>
            <option>Название 3</option>
            <option>Название 4</option>
            <option>Название 5</option>
        </select>
    </div>

    <div class="rating-table">
        
        <div class="rating-table-container">
            <!--

                <div class="table-head row">
                <div class="table-head col-1">
                 
                </div>
                <div class="table-head col-2">
                    № точки
                </div>
                <div class="table-head col-3">
                    Дилер
                </div>
                <div class="table-head col-2">
                    Регион
                </div>
                <div class="table-head col-2">
                    Баллы
                </div>
                <div class="table-head col-2">
                    Мой вклад
                </div>
            </div>

            <div class="table-body row">
                <div class="table-body col">
                    1
                </div>
                <div class="table-body col-2">
                    № 56
                </div>
                <div class="table-body col-3">
                    ИП "ДЕМОИП"
                </div>
                <div class="table-body col-2">
                    Нижний Новгород
                </div>
                <div class="table-body col-2">
                    960 <span> баллов</span>
                </div>
                <div class="table-body col-2">
                    <span>Мой вклад: </span> 97%
                </div>
            </div>
            <div class="table-body row">
                <div class="table-body col">
                    1
                </div>
                <div class="table-body col-2">
                    № 56
                </div>
                <div class="table-body col-3">
                    ИП "ДЕМОИП"
                </div>
                <div class="table-body col-2">
                    Нижний Новгород
                </div>
                <div class="table-body col-2">
                    960 <span> баллов</span>
                </div>
                <div class="table-body col-2">
                    <span>Мой вклад: </span> 97%
                </div>
            </div>
            <div class="table-body row">
                <div class="table-body col">
                    1
                </div>
                <div class="table-body col-2">
                    № 56
                </div>
                <div class="table-body col-3">
                    ИП "ДЕМОИП"
                </div>
                <div class="table-body col-2">
                    Нижний Новгород
                </div>
                <div class="table-body col-2">
                    960 <span> баллов</span>
                </div>
                <div class="table-body col-2">
                    <span>Мой вклад: </span> 97%
                </div>
            </div>
            <div class="table-body row">
                <div class="table-body col">
                    1
                </div>
                <div class="table-body col-2">
                    № 56
                </div>
                <div class="table-body col-3">
                    ИП "ДЕМОИП"
                </div>
                <div class="table-body col-2">
                    Нижний Новгород
                </div>
                <div class="table-body col-2">
                    960 <span> баллов</span>
                </div>
                <div class="table-body col-2">
                    <span>Мой вклад: </span> 97%
                </div>
            </div>
             -->


            <table class="rating-table-container-table">
                    <thead>
                        <tr>
                          <th class="table-empty" scope="col"></th>
                          <th scope="col">№ точки</th>
                          <th scope="col">Дилер</th>
                          <th scope="col">Регион</th>
                          <th scope="col">Баллы</th>
                          <th scope="col">Мой вклад</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                          <th class="table-counter" scope="row">1</th>
                          <td>№ 56</td>
                          <td>ИП "ДЕМОИП"</td>
                          <td>Нижний Новгород</td>
                          <td>960 <span> баллов</span></td>
                          <td><span>Мой вклад: </span> 97%</td>
                        </tr>
                        <tr>
                            <th class="table-counter" scope="row">2</th>
                            <td>№ 56</td>
                            <td>ИП "ДЕМОИП"</td>
                            <td>Нижний Новгород</td>
                            <td>960 <span> баллов</span></td>
                            <td><span>Мой вклад: </span> 97%</td>
                        </tr>
                        <tr>
                            <th class="table-counter" scope="row">3</th>
                            <td>№ 56</td>
                            <td>ИП "ДЕМОИП"</td>
                            <td>Нижний Новгород</td>
                            <td>960 <span> баллов</span></td>
                            <td><span>Мой вклад: </span> 97%</td>
                        </tr>
                        <tr>
                            <th class="table-counter" scope="row">4</th>
                            <td>№ 56</td>
                            <td>ИП "ДЕМОИП"</td>
                            <td>Нижний Новгород</td>
                            <td>960 <span> баллов</span></td>
                            <td><span>Мой вклад: </span> 97%</td>
                        </tr>
                        <tr>
                            <th class="table-counter" scope="row">1</th>
                            <td>№ 56</td>
                            <td>ИП "ДЕМОИП"</td>
                            <td>Нижний Новгород</td>
                            <td>960 <span> баллов</span></td>
                            <td><span>Мой вклад: </span> 97%</td>
                        </tr>
                        <tr>
                              <th class="table-counter" scope="row">2</th>
                              <td>№ 56</td>
                              <td>ИП "ДЕМОИП"</td>
                              <td>Нижний Новгород</td>
                              <td>960 <span> баллов</span></td>
                              <td><span>Мой вклад: </span> 97%</td>
                        </tr>
                        <tr>
                              <th class="table-counter" scope="row">3</th>
                              <td>№ 56</td>
                              <td>ИП "ДЕМОИП"</td>
                              <td>Нижний Новгород</td>
                              <td>960 <span> баллов</span></td>
                              <td><span>Мой вклад: </span> 97%</td>
                        </tr>
                        <tr>
                              <th class="table-counter" scope="row">4</th>
                              <td>№ 56</td>
                              <td>ИП "ДЕМОИП"</td>
                              <td>Нижний Новгород</td>
                              <td>960 <span> баллов</span></td>
                              <td><span>Мой вклад: </span> 97%</td>
                        </tr>
                        <tr>
                                <th class="table-counter" scope="row">1</th>
                                <td>№ 56</td>
                                <td>ИП "ДЕМОИП"</td>
                                <td>Нижний Новгород</td>
                                <td>960 <span> баллов</span></td>
                                <td><span>Мой вклад: </span> 97%</td>
                        </tr>
                        <tr>
                                  <th class="table-counter" scope="row">2</th>
                                  <td>№ 56</td>
                                  <td>ИП "ДЕМОИП"</td>
                                  <td>Нижний Новгород</td>
                                  <td>960 <span> баллов</span></td>
                                  <td><span>Мой вклад: </span> 97%</td>
                        </tr>
                        <tr>
                                  <th class="table-counter" scope="row">3</th>
                                  <td>№ 56</td>
                                  <td>ИП "ДЕМОИП"</td>
                                  <td>Нижний Новгород</td>
                                  <td>960 <span> баллов</span></td>
                                  <td><span>Мой вклад: </span> 97%</td>
                        </tr>
                        <tr>
                                  <th class="table-counter" scope="row">4</th>
                                  <td>№ 56</td>
                                  <td>ИП "ДЕМОИП"</td>
                                  <td>Нижний Новгород</td>
                                  <td>960 <span> баллов</span></td>
                                  <td><span>Мой вклад: </span> 97%</td>
                        </tr>
                        <tr>
                            <th class="table-counter" scope="row">1</th>
                            <td>№ 56</td>
                            <td>ИП "ДЕМОИП"</td>
                            <td>Нижний Новгород</td>
                            <td>960 <span> баллов</span></td>
                            <td><span>Мой вклад: </span> 97%</td>
                          </tr>
                          <tr>
                              <th class="table-counter" scope="row">2</th>
                              <td>№ 56</td>
                              <td>ИП "ДЕМОИП"</td>
                              <td>Нижний Новгород</td>
                              <td>960 <span> баллов</span></td>
                              <td><span>Мой вклад: </span> 97%</td>
                          </tr>
                          <tr>
                              <th class="table-counter" scope="row">3</th>
                              <td>№ 56</td>
                              <td>ИП "ДЕМОИП"</td>
                              <td>Нижний Новгород</td>
                              <td>960 <span> баллов</span></td>
                              <td><span>Мой вклад: </span> 97%</td>
                          </tr>
                          <tr>
                              <th class="table-counter" scope="row">4</th>
                              <td>№ 56</td>
                              <td>ИП "ДЕМОИП"</td>
                              <td>Нижний Новгород</td>
                              <td>960 <span> баллов</span></td>
                              <td><span>Мой вклад: </span> 97%</td>
                          </tr>
                          <tr>
                              <th class="table-counter" scope="row">1</th>
                              <td>№ 56</td>
                              <td>ИП "ДЕМОИП"</td>
                              <td>Нижний Новгород</td>
                              <td>960 <span> баллов</span></td>
                              <td><span>Мой вклад: </span> 97%</td>
                          </tr>
                          <tr>
                                <th class="table-counter" scope="row">2</th>
                                <td>№ 56</td>
                                <td>ИП "ДЕМОИП"</td>
                                <td>Нижний Новгород</td>
                                <td>960 <span> баллов</span></td>
                                <td><span>Мой вклад: </span> 97%</td>
                          </tr>
                          <tr>
                                <th class="table-counter" scope="row">3</th>
                                <td>№ 56</td>
                                <td>ИП "ДЕМОИП"</td>
                                <td>Нижний Новгород</td>
                                <td>960 <span> баллов</span></td>
                                <td>97%</td>
                          </tr>
                          <tr>
                                <th class="table-counter" scope="row">4</th>
                                <td>№ 56</td>
                                <td>ИП "ДЕМОИП"</td>
                                <td>Нижний Новгород</td>
                                <td>960 <span> баллов</span></td>
                                <td>97%</td>
                          </tr>
                          <tr>
                                  <th class="table-counter" scope="row">1</th>
                                  <td>№ 56</td>
                                  <td>ИП "ДЕМОИП"</td>
                                  <td>Нижний Новгород</td>
                                  <td>960 <span> баллов</span></td>
                                  <td>97%</td>
                          </tr>
                      </tbody>
            </table>
            <div class="rating-table-moreWrapper">
                <p class="rating-table-moreWrapper-more">
                    Показать еще
                </p>
            </div>
        </div>

        <div class="rating-table-right">
            <div class="rating-table-right-element">
                <p class="rating-table-right-element-title">№ 98, Ярославль</p>
                <div class="rating-table-right-element-place">
                    <p class="place">3</p>
                    <p class="place-title">место</p>
                </div>
                <div class="rating-table-right-element-show">Показать в списке</div>
            </div>
            <div class="rating-table-right-element">
                <p class="rating-table-right-element-title">№ 98, Ярославль</p>
                <div class="rating-table-right-element-place">
                    <p class="place">3</p>
                    <p class="place-title">место</p>
                </div>
                <div class="rating-table-right-element-show">Показать в списке</div>
            </div>
            <div class="rating-table-right-element">
                <p class="rating-table-right-element-title">№ 98, Ярославль</p>
                <div class="rating-table-right-element-place">
                    <p class="place">3</p>
                    <p class="place-title">место</p>
                </div>
                <div class="rating-table-right-element-show">Показать в списке</div>
            </div>
            <div class="rating-table-right-element">
                <p class="rating-table-right-element-title">№ 98, Ярославль</p>
                <div class="rating-table-right-element-place">
                    <p class="place">3</p>
                    <p class="place-title">место</p>
                </div>
                <div class="rating-table-right-element-show">Показать в списке</div>
            </div>
        </div>
    </div>
    @@include('templates/footer.html')
</div>