<div class="container">
    <div class="rating-title">
        Рейтинг точек
    </div>
    <form action="/search/" target="_blank">
        <input type="search" name="text" required placeholder="Поиск по названию" >
    </form>

    <div class="rating-table">

        <div class="rating-table-container">

            <select class="rating-table-container-search">
                <option value="" hidden disabled selected>Название мотивационной программы с рейтингом</option>
                <option>Название 1</option>
                <option>Название 2</option>
                <option>Название 3</option>
                <option>Название 4</option>
                <option>Название 5</option>
            </select>

            <table class="rating-table-container-table">
                    <thead>
                        <tr>
                          <th class="table-empty" scope="col"></th>
                          <th scope="col">№ точки</th>
                          <th scope="col">Дилер</th>
                          <th scope="col">Регион</th>
                          <th scope="col">Баллы</th>
                          <th scope="col">Мой вклад</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                          <th class="table-counter" scope="row">1</th>
                          <td>№ 56</td>
                          <td>ИП "ДЕМОИП"</td>
                          <td>Нижний Новгород</td>
                          <td>Баллы</td>
                          <td>Мой вклад</td>
                        </tr>
                        <tr>
                            <th class="table-counter" scope="row">2</th>
                            <td>№ 56</td>
                            <td>ИП "ДЕМОИП"</td>
                            <td>Нижний Новгород</td>
                            <td>Баллы</td>
                            <td>Мой вклад</td>
                        </tr>
                        <tr>
                            <th class="table-counter" scope="row">3</th>
                            <td>№ 56</td>
                            <td>ИП "ДЕМОИП"</td>
                            <td>Нижний Новгород</td>
                            <td>Баллы</td>
                            <td>Мой вклад</td>
                        </tr>
                        <tr>
                            <th class="table-counter" scope="row">4</th>
                            <td>№ 56</td>
                            <td>ИП "ДЕМОИП"</td>
                            <td>Нижний Новгород</td>
                            <td>Баллы</td>
                            <td>Мой вклад</td>
                          </tr>
                      </tbody>
            </table>

        </div>

        <div class="rating-table-right">

        </div>
    </div>
</div>