<header class="header">
    <div class="header-logo">
        <img class="header-logo-img" src="images/svg/logo.svg" alt="">
    </div>
    <ul class="header-nav">
        <li class="header-nav-element">Список дел</li>
        <li class="header-nav-element">Мотивационные программы</li>
        <li class="header-nav-element">Каталог курсов</li>
        <li class="header-nav-element">Опросы</li>
        <li class="header-nav-element">Форумы</li>
        <li class="header-nav-element">Моя статистика</li>
        <li class="header-nav-element">Поддержка</li>
        <li class="header-nav-element">Панель руководителя</li>
        <li class="header-nav-element">Календарь мероприятий</li>
    </ul>
    <div class="header-tools">
        <div class="header-tools-achieve">
            <img src="images/svg/achieve.svg" alt="">
            <p class="header-tools-achieve-counter">5</p>
        </div>
        <div class="header-tools-mytalk">
            <img src="images/svg/my_talk.svg" alt="">
            <p class="header-tools-mytalk-counter">1 000 000</p>
        </div>
        <div class="header-tools-rating">
            <img class="header-tools-rating-img" src="images/svg/rating.svg" alt="">
        </div>
    </div>
    <div class="header-profile">
        <div class="header-profile-avatar">
            <img src="images/avatar.png" alt="">
        </div>
        <p class="header-profile-name">Константинопольский Константин</p>
    </div>
    <div class="header-exit">
        <img src="images/svg/exit.svg" alt="">
    </div>
    <div class="header-menu">
        <div class="header-menu-lines">
            <div class="header-menu-lines-line"> </div>
            <div class="header-menu-lines-line"> </div>
            <div class="header-menu-lines-line"> </div>
        </div>
        <p class="header-menu-title">МЕНЮ</p>
    </div>
</header>